@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: normal;
  src: local('Inconsolata'), url('Inconsolata.ttf') format('truetype');
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 14px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

.mod-tabview {
border: solid #CCC;
border-bottom-left-radius: 5px 5px;
border-bottom-right-radius: 5px 5px;
border-top-left-radius: 5px 5px;
border-top-right-radius: 5px 5px;
margin-bottom: 20px;
}
