@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: normal;
  src: local('Inconsolata'), url('Inconsolata.ttf') format('truetype');
}

body {
	margin: 0;
	padding: 0;
	font: 18px  "Inconsolata","Andalame Mono", "Courier", "Arial";
	line-height: 1.7em;
	color: #333;
  background: url("/images/bg.png") repeat 0 0;
  text-shadow:1px 1px 0 #FFF;
}
h1, h2, h3, h4, h5 {
  font-family: "Helvetica Neue", "Helvetica", "ff-tisa-web-pro-1", "ff-tisa-web-pro-2";
  font-weight: normal;
}
ul {list-style:square;}
a {text-decoration:none;}
a:hover {text-decoration:underline;}
#container {
  width: 800px;
  margin: 0 auto;
}
.menubar {
  background:transparent url("/images/shine.png") no-repeat -30px -100;
  line-height: 150%;
  margin: 0 auto; 
  padding-top: 0;
  width:800px;
  overflow:hidden;
}
.menubar h1 {
  margin:0;
  float:left; 
  width:360px;
  line-height:38px;
  text-transform:uppercase;
}

.menubar a {
  color: #aaaaaa;
  text-decoration: none;
}
.menubar a:hover { color: #004491; }
header {
  display: block;
}
#info {padding:25px 0 0 0; }
#picture {
  margin:0 0 0 40px; 
  border: 4px solid #FFF;
  -moz-box-shadow: 0 0 10px #999;
  -webkit-box-shadow: 0 0 10px #999;
  box-shadow: 0 0 10px #999;
  float:left;
}
#rockandroll {
  float:right;
  margin:20px 40px 0 0;
}
#rockandroll{font-size:60px; font-weight:bold;color:#000}
#rockandroll .roll {color:#C00;}
#rockandroll .amp {color:#666;font-family:"Cooper Std";}
#moreinfo {
  background: transparent url("/images/line.png") repeat-x 0 bottom;
  line-height:1.1em;
  margin:40px 0 0 0;
  padding: 0 0 20px;
  font-size:30px;
}
#moreinfo a{font-family:"Helvetica Neue","Helvetica"; font-weight:bold;color:#06F}
.clear {
  clear: both;
}
  
.post { display: block; }
div.update {
  background: #ffdddd;
  padding: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
}
.update h3 {
  margin: 0;
  font-size: 1.1em;
}
#footer {
  margin-top: 3em;
  padding-bottom: 0.3em;
}
h2 {
  font-size: 1.8em;
  line-height: 1.2em;
  padding-bottom: 0.2em;
  margin-top: 0 0 0em 0;
  font-weight:bold;
}
h3 { font-size: 1.3em; }
h1 {
  font-size: 2em;
  font-weight: normal;
  padding-bottom: 8px;
}
.post { padding-bottom: 48px; }
p code {
  font-size: 0.9em;
  background: #f0f0f0;
  padding-left: 0.2em;
  padding-right: 0.2em;
  border: 1px solid #e0e0e0;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
}
.highlight {
  background: yellow;
  margin-top: -0.3em;
}
.osx-shortcut {
  background: #f0f0f0;
  padding-left: 0.2em;
  padding-right: 0.2em;
  border: 1px solid #e0e0e0;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
}
.meta {
  font-size: 0.9em;
  font-weight: bold;
  color: #999999;
  border-top: 1px solid #dddddd;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin-top: -0.6em;
}
.meta a {
  color: #004491;
  text-decoration: none;
  border-bottom: 1px dotted #d3dfee;
}
.content {
  background: transparent url("/images/line.png") repeat-x 0 bottom;
  padding:0 0 10px 0;
  margin:0 0 5px 0;
}
.content a {
  color: #004491;
  text-decoration: none;
  overflow:hidden;
  border-bottom: 1px dotted #d3dfee;
}
.related a {
  color: #004491;
  text-decoration: none;
  border-bottom: 1px dotted #d3dfee;
}
.meta a { font-weight: normal; }
.meta a:hover { border-bottom: 1px solid #d3dfee; }
.content a:hover { border-bottom: 1px solid #d3dfee; }
.related a:hover { border-bottom: 1px solid #d3dfee; }
.title a {
  color: black;
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 0;
}
.title a:hover { border: none; }
.video {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-bottom: 0;
  text-align: center;
}
pre {
  text-shadow:none;
  font-size:14px;
  line-height: 1.4em;
  display: block;
  color: white;
  background: #222222;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  padding: 0.6em;
}
.related {
  padding-top: 1em;
  color: #aaaaaa;
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2";
  font-size: 0.9em;
  line-height: 1.7em;
}
.related h3 {
  font-size: 1.2em;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 0;
  margin-bottom: 0;
}
.related p { margin-top: 0.4em; }
.content p { margin-bottom: 1.3em; }
.s1, .s2, .sx, .mi { color: #aec4eb; }
.nb, .k, .o, .kp { color: #c4ebae; }
.ss { color: #ffcf87; }
.nf { color: #ffffa0; }
.vi { color: #ff9f9d; }
.c, .c1 { color: #a0a0a0; }

.menu {padding:10px 0 0 0;overflow:hidden;background: transparent url("/images/line.png") repeat-x 0 bottom;}
.menu ul {text-align:right;float:right;text-transform:uppercase;font-family:"Helvetica Neue", "Helvetica"; font-weight:bold; margin:0;padding:0;list-style:none;}
.menu ul li {display:inline-block;margin:10px 10px;}
.menu a {text-decoration:none; color:#333;}
.menu a:hover {color:#000;}
.menu h1 {color:#000;}
.menu h1 span{font-weight:bold;}
#main section {display:block;font-size:14px; color:#666;padding:0 0 20px 0; overflow:hidden;background: transparent url("/images/line.png") repeat-x 0 bottom;}
#main section p {font-size:20px;color:#333;}
#main section h3 {color:#333;margin:0}
#main section h2 {
  display:block;
  color:#06F;
  text-transform:uppercase;
}
section ul {padding:0 15px;}
section a {color:#333;text-decoration:none;}
section a:hover {color:#000;text-decoration:underline}
.opensource li {line-height:20px;display:inline-block; width:48%}
.opensource h3 {font-size:14px;text-transform:uppercase;font-weight:bold;}
.recentbp h3 {display:inline; font-weight:bold;}
.tangosource h3 {font-size:27px; font-weight:bold;text-align:center;font-family:Inconsolata}
.tangosource img {float:right; margin: 20px;}

#footer {
  background: #000;
  text-shadow:none;
  color:#FFF;
  font-size:14px;
  display:block;
}
#footer a {color:#FFF;}
#footer h3 {text-transform:uppercase;font-weight:bold;font-size:20px;}
.footer-info{
  width:800px;
  overflow:hidden;
  margin:0 auto;
  border-bottom:1px solid #2F2F2F;
}
.reading {
  float:left;
  height:auto;
  width:230px;
  padding:0 20px;
}
.links{
  float:left;
  width:290px;
  padding:0 20px;
  border-right:1px solid #2F2F2F;
  border-left:1px solid #2F2F2F;
  height:300px;
}
.links ul{padding:0 20px}
.links li {width:48%;display:inline-block;}
.findme {
  float:left;
  width:150px;
  padding:0 20px;
}
.copyright{
  margin:0 auto;
  width:800px;
}
.findme li a {
  font-size:0px;
  background:transparent url('/images/social-icons.png') no-repeat 0 0;
  text-indent:1000px;
  width:32px;
  height:32px;
  margin:10px;
  display:block;
}
.findme ul {padding:0;}
.findme li {display:inline-block;}
.findme .github {background-position: 0 0;}
.findme .linkedin {background-position: 0 -60px;}
.findme .twitter {background-position: 0 -120px;}
.findme .skype {background-position: 0 -180px;}
.findme .rails {background-position: 0 -240px;}

.vjs-controls {
  text-shadow: none;
}
.video-js-wrapper {
  padding: 0 0 2em 0;
}
