---
layout: default
title: profile
---

%h1 profile

#footer
  %ul.mod-tabview
    %li
      %a{:href => '/profile.html'} Federico Ramallo
    %li
      %a{:href => "/http://github/framallo"} http://github/framallo
    %li
      %a{:href => "http://twitter.com/framalo"} http://twitter.com/framalo
    %li
      %a{:href => "/contact.html"} Contact

