<a class="name" href="/">tomafro.net</a> &middot; <a href="/about">about</a> &middot; <a href="http://github.com/tomafro">on github</a> &middot; <a href="http://delicious.com/tomafro">on delicious</a> &middot; <a href="http://twitter.com/tomafro">on twitter</a> &middot; <a href="http://www.last.fm/user/tomafro">on last.fm</a>
        <!--%ul-->
          <!--%li-->
            <!--%a{:href => '/profile.html'} Federico Ramallo-->
          <!--%li-->
            <!--%a{:href => "/http://github/framallo"} http://github/framallo-->
          <!--%li-->
            <!--%a{:href => "http://twitter.com/framalo"} http://twitter.com/framalo-->
          <!--%li-->
            <!--%a{:href => "/contact.html"} Contact-->
