!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "ruby rails development federico ramallo", :name => "keywords"}/
    %meta{:content => "ALL", :name => "ROBOTS"}/
    %title {{ page.title }}
    / Shortcut Icon
    %link{:href => "/images/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    / styles
    -#%link{:href => "/css/global.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/syntax.css", :rel => "stylesheet", :type => "text/css"}/
    -#%link{:href => "http://tomafro.net/atom.xml", :rel => "alternate" :type => "application/atom+xml"}/
    /[if IE]
      <link href="/assets/css/iefixes.css" rel="stylesheet" type="text/css" />
  %body
    %header.menubar
      .menu
        %h1
          %a{:href=>'/'}Federico<span>Ramallo</span>
        %ul
          %li
            %a{:href => 'http://framallo.com'} Home
          %li
            %a{:href => "/about"} About
          %li
            %a{:href => "/contact"} Contact
          %li
            %a{:href => "/travel"} Travel
    #container
      #main
        {{ content }}
    %footer#footer
      .footer-info
        .reading
          %h3 Reading
        .links
          %h3 Those I read &amp; follow
          %ul
            %li
              %a{:href=>'http://tangosource.com'} TangoSource
            %li
              %a{:href=>'http://eduarbo.com'} eduarbo
        .findme
          %h3 Find me in
          %ul
            %li
              %a.github{:title=>'Github', :href=>'http://github.com/framallo'} github
            %li
              %a.linkedin{:title=>'LinkedIn', :href=>'http://mx.linkedin.com/pub/federico-ramallo/22/109/a51'} LinkedIn
            %li
              %a.twitter{:title=>'Twitter',:href=>'http://twitter.com/framallo'} Twitter
            %li
              %a.skype{:title=>'Skype',:href=>'skype:framallo'} Skype
            %li
              %a.rails{:title=>'Working with Rails',:href=>'http://workingwithrails.com/person/8432-federico-ramallo'} Working with Rails
      .copyright
        %p Copyright © 2010 Federico Ramallo
      
    #getclicky
      :preserve
        <script src="http://static.getclicky.com/js" type="text/javascript"></script> <script type="text/javascript">clicky.init(256188);</script> <noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/256188ns.gif" /></p></noscript>
        <script type="text/javascript">var disqus_shortname = 'framallo'; (function () {  var s = document.createElement('script'); s.async = true;  s.src = 'http://disqus.com/forums/framallo/count.js';  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s); }()); </script>  
