!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "ruby rails development federico ramallo", :name => "keywords"}/
    %meta{:content => "ALL", :name => "ROBOTS"}/
    %title {{ page.title }}
    / Shortcut Icon
    %link{:href => "/img/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    %link{:href => "/img/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    / styles
    %link{:href => "/css/global.css", :rel => "stylesheet", :type => "text/css"}/
    /[if IE]
      <link href="/assets/css/iefixes.css" rel="stylesheet" type="text/css" />
  %body
    #getclicky
      :preserve
      <script src="http://static.getclicky.com/js" type="text/javascript"></script> <script type="text/javascript">clicky.init(256188);</script> <noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/256188ns.gif" /></p></noscript>
    #header
        %h1.title {{ page.title }}
    #content
      {{ content }}
    #footer
      %ul
        %li
          %a{:href => "/http://github/framallo"} http://github/framallo
        %li
          %a{:href => "http://twitter.com/framalo"} http://twitter.com/framalo
        %li
          %a{:href => "/contact.html"} Contact
      %p &copy; 2010 | Federico Ramallo | All Rights Reserved
