!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "ruby rails development federico ramallo", :name => "keywords"}/
    %meta{:content => "ALL", :name => "ROBOTS"}/
    %title {{ page.title }}
    / Shortcut Icon
    %link{:href => "/img/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    %link{:href => "/img/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    / styles
    -#%link{:href => "/css/global.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/syntax.css", :rel => "stylesheet", :type => "text/css"}/
    -#%link{:href => "http://tomafro.net/atom.xml", :rel => "alternate" :type => "application/atom+xml"}/
    /[if IE]
      <link href="/assets/css/iefixes.css" rel="stylesheet" type="text/css" />
  %body
    %header.menubar
      .nav
        %ul
          %li
            %h1{:class=>"logo"}
              %a{:href => '/profile.html'} Federico Ramallo
          %li
            %a{:href => "/http://github/framallo"} github /
          %li
            %a{:href => "http://twitter.com/framallo"} twitter /
          %li
            %a{:href => "/contact.html"} Contact
      -#.logo
        -#%h1
          -#{{ page.title }}
      .menu
        %ul
          %li
            %a{:href => '/profile.html'} Categoria 1
          %li
            %a{:href => "/http://github/framallo"} Ruby
          %li
            %a{:href => "http://twitter.com/framallo"} Rails
          %li
            %a{:href => "/contact.html"} NoSQL
          %li
            %a{:href => "/contact.html"} Viajes
          %li
            %a{:href => "/contact.html"} CouchDB
    #container
      #main
        {{ content }}
    #getclicky
      :preserve
        <script src="http://static.getclicky.com/js" type="text/javascript"></script> <script type="text/javascript">clicky.init(256188);</script> <noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/256188ns.gif" /></p></noscript>
